doctype html
html(lang="pl")

<head>
<title> Konwerter -> HTML5 </title>
<script type="text/javascript" src="test.js"></script>
link(rel='stylesheet', href='/stylesheets/style.css')

</head>

<body>

    <center><h1>Przekonwertowany plik </h1></center>

    <center><textarea id="data" disabled rows="20" cols="100">
        At #{data} 
        
    </textarea></center>

</body>
