doctype html
html(lang="pl")

<head>
<title> Konwerter -> HTML5 </title>
<script type="text/javascript" src="test.js"></script>

</head>

<body>

<body>
<center>
<form action="/fileupload" method="post" enctype="multipart/form-data">
<input type="file" name="filetoupload"><br>
<input type="submit">
</form>
</center>



<input type="button" onclick="location.href='http://localhost:3000/convert';" value="Convert" />
<input type="button" onclick="location.href='http://localhost:3000/show';" value="Show converted file" />
<input type="button" onclick="location.href='http://localhost:3000/save';" value="Save converted file" />

</center>

</body>

