extends layout

block content
  
  p <center><button type="button">Upload file!</button><center>
  <button type="button">Convert file</button>
  <button type="button">Show converted file</button>
  <button type="button">Save converted file</button>