doctype html
html(lang="pl")

<head>
<title> Konwerter -> HTML5 </title>
<script type="text/javascript" src="test.js"></script>

</head>

<body>

    <center><header>Blad , musisz najpierw przekonwertowac plik! </header></center>
    </textarea></center>

</body>
