doctype html
html(lang="pl")

<head>
<title> Konwerter -> HTML5 </title>
<script type="text/javascript" src="test.js"></script>

</head>

<body>

    <center><h1>Blad , musisz najpierw przekonwertowac plik! </h1></center>
        
    </textarea></center>

</body>
